---
http_interactions:
- request:
    method: get
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/queries/push_user?user_mkey=GBAHb0482YxlJ0kYwbIS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Digest realm="Zazo DataProvider", qop="auth", algorithm=MD5, nonce="MTQ2MTMxNzA3NzphNTg4OGQzZTVhN2MyMmZiZjY4MTAwNTI1MDk5NDBkOQ==",
        opaque="822778b6350cbc116426dfdce7488072"
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"unauthorized"}'
  recorded_at: Fri, 22 Apr 2016 09:24:37 GMT
- request:
    method: get
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/queries/push_user?user_mkey=GBAHb0482YxlJ0kYwbIS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Digest username="friendfinder", realm="Zazo DataProvider", algorithm=MD5,
        qop=auth, uri="/api/v1/fetch/users/queries/push_user?user_mkey=GBAHb0482YxlJ0kYwbIS",
        nonce="MTQ2MTMxNzA3NzphNTg4OGQzZTVhN2MyMmZiZjY4MTAwNTI1MDk5NDBkOQ==", nc=00000000,
        cnonce="ccd167af36f030b2719d84c9eceb66a7", response="c10bda409af69db77d5bd131a47e720a",
        opaque="822778b6350cbc116426dfdce7488072"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Miniprofiler-Ids:
      - '["hsf0nm8bv3ai0pkbv3kk","uxvsln0trb4yaffhvb8d","bb70an5jbfflmfk0m05k","sx40rqr0wj8ad1xghum8","bgrox7u56a6q8qyf9y01","7ggzu9qsfv7n1m25bw7j","rxanujfb24l88lv1ovq","crjjw7yb4a9jn5oblvzp","a3vwha4kzzbsxsvgm4nm","v72b8g5zbgrm2d3h62zw"]'
    body:
      encoding: UTF-8
      string: '{"mkey":"GBAHb0482YxlJ0kYwbIS","push_token":"APA91bECYQ9KxMZgzcU5b5uofeGz125TxFrul-igyrEcz3pAecKJAfqXIvuSPgAUth4nqldSMehUuElTKfI30oA80Nf0iAkSGIL5-SP0u5iSI3C1Utkzkly12V077O-aRAvCRYO4kQGy","device_platform":"android","device_build":null}'
  recorded_at: Fri, 22 Apr 2016 09:24:38 GMT
- request:
    method: get
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/queries/attributes?attrs%5B%5D=auth&attrs%5B%5D=first_name&attrs%5B%5D=friends&attrs%5B%5D=last_name&user=GBAHb0482YxlJ0kYwbIS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Digest realm="Zazo DataProvider", qop="auth", algorithm=MD5, nonce="MTQ2MTMxNzA3ODpiNGQ0ZWIyYjU2MDU1Y2I4NTY2YTNhOGNmYzA3NGZjNw==",
        opaque="822778b6350cbc116426dfdce7488072"
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"unauthorized"}'
  recorded_at: Fri, 22 Apr 2016 09:24:38 GMT
- request:
    method: get
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/queries/attributes?attrs%5B%5D=auth&attrs%5B%5D=first_name&attrs%5B%5D=friends&attrs%5B%5D=last_name&user=GBAHb0482YxlJ0kYwbIS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Digest username="friendfinder", realm="Zazo DataProvider", algorithm=MD5,
        qop=auth, uri="/api/v1/fetch/users/queries/attributes?attrs%5B%5D=auth&attrs%5B%5D=first_name&attrs%5B%5D=last_name&attrs%5B%5D=friends&user=GBAHb0482YxlJ0kYwbIS",
        nonce="MTQ2MTMxNzA3ODpiNGQ0ZWIyYjU2MDU1Y2I4NTY2YTNhOGNmYzA3NGZjNw==", nc=00000000,
        cnonce="f376288b5894fe95e7a03f31a8842cdf", response="774e2ab9b0d6bd21611152865ec1203e",
        opaque="822778b6350cbc116426dfdce7488072"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Miniprofiler-Ids:
      - '["189vfg7i5mt5y7un8lkq","uxvsln0trb4yaffhvb8d","bb70an5jbfflmfk0m05k","sx40rqr0wj8ad1xghum8","bgrox7u56a6q8qyf9y01","7ggzu9qsfv7n1m25bw7j","rxanujfb24l88lv1ovq","crjjw7yb4a9jn5oblvzp","a3vwha4kzzbsxsvgm4nm","v72b8g5zbgrm2d3h62zw"]'
    body:
      encoding: UTF-8
      string: '{"auth":"O4VXCozKuyQNjnWPh400","first_name":"Ivan","last_name":"Kornilov","friends":["0DAQEVtmNKQiW6aoQrvo","e0kvxfgua1EQJvUOzVC1","yLK6i5VpMW9ZZy5BnXZZ","7qdanSEmctZ2jPnYA0a1","gpIES8adSGtrB5O5933c","LVXE6gyoxb6eHNvPd96f"]}'
  recorded_at: Fri, 22 Apr 2016 09:24:39 GMT
- request:
    method: post
    uri: http://zazo-notification.dev/api/v1/notifications/mobile
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Digest realm="Zazo Notification", qop="auth", algorithm=MD5, nonce="MTQ2MTMxNzA3OTphYjIxYjI5YzRiY2ZmN2NmYTYwMjMxN2NmYmVhYjVkMA==",
        opaque="1bada4e4faf11d9675b0e01e3ee23df0"
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"unauthorized"}'
  recorded_at: Fri, 22 Apr 2016 09:24:39 GMT
- request:
    method: post
    uri: http://zazo-notification.dev/api/v1/notifications/mobile
    body:
      encoding: UTF-8
      string: '{"subject":"Susan Blanda joined Zazo!","device_platform":"android","device_build":null,"device_token":"APA91bECYQ9KxMZgzcU5b5uofeGz125TxFrul-igyrEcz3pAecKJAfqXIvuSPgAUth4nqldSMehUuElTKfI30oA80Nf0iAkSGIL5-SP0u5iSI3C1Utkzkly12V077O-aRAvCRYO4kQGy","payload":{"type":"friend_joined","content":"","subject":"Susan
        Blanda joined Zazo!","nkey":"8f44a54c59154e139fc6c1ce1716fd36","additions":{"friend_name":"Susan
        Blanda"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Digest username="friendfinder", realm="Zazo Notification", algorithm=MD5,
        qop=auth, uri="/api/v1/notifications/mobile", nonce="MTQ2MTMxNzA3OTphYjIxYjI5YzRiY2ZmN2NmYTYwMjMxN2NmYmVhYjVkMA==",
        nc=00000000, cnonce="25ef5621c9e6d42a33618b12e6b7b479", response="758554ba6697f942dce576afe83a12ea",
        opaque="1bada4e4faf11d9675b0e01e3ee23df0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6f0a4f15d9bde6c53162edc90c587518"
    body:
      encoding: UTF-8
      string: '{"status":"success","original_response":{"multicast_id":7631058031711439919,"success":1,"failure":0,"canonical_ids":0,"results":[{"message_id":"0:1461317080967603%7c7dc9e1f9fd7ecd"}]}}'
  recorded_at: Fri, 22 Apr 2016 09:24:41 GMT
recorded_with: VCR 3.0.1
