---
http_interactions:
- request:
    method: get
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/queries/push_user?user_mkey=GBAHb0482YxlJ0kYwbIS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Digest realm="Zazo DataProvider", qop="auth", algorithm=MD5, nonce="MTQ1OTQzMjE4NjpiNGMzMmMwOGU4OGY4YWE1OWFjNWRjMmQ4NzY4ODg4ZQ==",
        opaque="822778b6350cbc116426dfdce7488072"
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"unauthorized"}'
  recorded_at: Thu, 31 Mar 2016 13:49:47 GMT
- request:
    method: get
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/queries/push_user?user_mkey=GBAHb0482YxlJ0kYwbIS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Digest username="friendfinder", realm="Zazo DataProvider", algorithm=MD5,
        qop=auth, uri="/api/v1/fetch/users/queries/push_user?user_mkey=GBAHb0482YxlJ0kYwbIS",
        nonce="MTQ1OTQzMjE4NjpiNGMzMmMwOGU4OGY4YWE1OWFjNWRjMmQ4NzY4ODg4ZQ==", nc=00000000,
        cnonce="2a8f3e2e877f7438b9a34f89f2dd8363", response="984b6c6772e261b4cf92cd26dbdd79ef",
        opaque="822778b6350cbc116426dfdce7488072"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Miniprofiler-Ids:
      - '["2eqyawun301y289g3xi7","uxvsln0trb4yaffhvb8d","bb70an5jbfflmfk0m05k","sx40rqr0wj8ad1xghum8","bgrox7u56a6q8qyf9y01","7ggzu9qsfv7n1m25bw7j","rxanujfb24l88lv1ovq","crjjw7yb4a9jn5oblvzp","a3vwha4kzzbsxsvgm4nm","v72b8g5zbgrm2d3h62zw"]'
    body:
      encoding: UTF-8
      string: '{"mkey":"GBAHb0482YxlJ0kYwbIS","push_token":"APA91bECYQ9KxMZgzcU5b5uofeGz125TxFrul-igyrEcz3pAecKJAfqXIvuSPgAUth4nqldSMehUuElTKfI30oA80Nf0iAkSGIL5-SP0u5iSI3C1Utkzkly12V077O-aRAvCRYO4kQGy","device_platform":"android","device_build":null}'
  recorded_at: Thu, 31 Mar 2016 13:49:47 GMT
- request:
    method: get
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/queries/attributes?attrs%5B%5D=first_name&attrs%5B%5D=friends&attrs%5B%5D=last_name&user=GBAHb0482YxlJ0kYwbIS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Digest realm="Zazo DataProvider", qop="auth", algorithm=MD5, nonce="MTQ1OTQzMjE4NzphOWJkYTcxM2VmNzhmM2JkNzQ2MGYzYzQ0ZTczY2Y1OQ==",
        opaque="822778b6350cbc116426dfdce7488072"
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"unauthorized"}'
  recorded_at: Thu, 31 Mar 2016 13:49:47 GMT
- request:
    method: get
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/queries/attributes?attrs%5B%5D=first_name&attrs%5B%5D=friends&attrs%5B%5D=last_name&user=GBAHb0482YxlJ0kYwbIS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Digest username="friendfinder", realm="Zazo DataProvider", algorithm=MD5,
        qop=auth, uri="/api/v1/fetch/users/queries/attributes?attrs%5B%5D=first_name&attrs%5B%5D=last_name&attrs%5B%5D=friends&user=GBAHb0482YxlJ0kYwbIS",
        nonce="MTQ1OTQzMjE4NzphOWJkYTcxM2VmNzhmM2JkNzQ2MGYzYzQ0ZTczY2Y1OQ==", nc=00000000,
        cnonce="86aeacd4a8a7dd5744f5521e28fa87eb", response="5a40dadbcfdbd312e3be7dcbcc44959e",
        opaque="822778b6350cbc116426dfdce7488072"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Miniprofiler-Ids:
      - '["v1igx6ef01gmolraqn8j","uxvsln0trb4yaffhvb8d","bb70an5jbfflmfk0m05k","sx40rqr0wj8ad1xghum8","bgrox7u56a6q8qyf9y01","7ggzu9qsfv7n1m25bw7j","rxanujfb24l88lv1ovq","crjjw7yb4a9jn5oblvzp","a3vwha4kzzbsxsvgm4nm","v72b8g5zbgrm2d3h62zw"]'
    body:
      encoding: UTF-8
      string: '{"first_name":"Ivan","last_name":"Kornilov","friends":["0DAQEVtmNKQiW6aoQrvo","e0kvxfgua1EQJvUOzVC1","yLK6i5VpMW9ZZy5BnXZZ","7qdanSEmctZ2jPnYA0a1","gpIES8adSGtrB5O5933c","LVXE6gyoxb6eHNvPd96f"]}'
  recorded_at: Thu, 31 Mar 2016 13:49:48 GMT
- request:
    method: post
    uri: http://zazo-notification.dev/api/v1/notifications/mobile
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Digest realm="Zazo Notification", qop="auth", algorithm=MD5, nonce="MTQ1OTQzMjE4OTphODNhNWEzYmM4MGM5ZDYwYTM0MzQ5YmJkNjY4ZGJiNA==",
        opaque="1bada4e4faf11d9675b0e01e3ee23df0"
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"unauthorized"}'
  recorded_at: Thu, 31 Mar 2016 13:49:49 GMT
- request:
    method: post
    uri: http://zazo-notification.dev/api/v1/notifications/mobile
    body:
      encoding: UTF-8
      string: '{"subject":"Katherine Kris joined Zazo!","device_platform":"android","device_build":null,"device_token":"APA91bECYQ9KxMZgzcU5b5uofeGz125TxFrul-igyrEcz3pAecKJAfqXIvuSPgAUth4nqldSMehUuElTKfI30oA80Nf0iAkSGIL5-SP0u5iSI3C1Utkzkly12V077O-aRAvCRYO4kQGy","payload":{"type":"friend_joined","content":"Hello
        2","subject":"Katherine Kris joined Zazo!","nkey":"45e67bcc2d1bf468737442825edb7158","additions":{"friend_name":"Katherine
        Kris"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Digest username="friendfinder", realm="Zazo Notification", algorithm=MD5,
        qop=auth, uri="/api/v1/notifications/mobile", nonce="MTQ1OTQzMjE4OTphODNhNWEzYmM4MGM5ZDYwYTM0MzQ5YmJkNjY4ZGJiNA==",
        nc=00000000, cnonce="9bfb5b1f4b503c32c4b4508edfeb9f95", response="4f61b488a93b35fcde0db4b819cc9a13",
        opaque="1bada4e4faf11d9675b0e01e3ee23df0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e4bc26fe09207bfc32d55d73b5955fd8"
    body:
      encoding: UTF-8
      string: '{"status":"success","original_response":{"multicast_id":8956759992334819917,"success":1,"failure":0,"canonical_ids":0,"results":[{"message_id":"0:1459432190752589%7c7dc9e1f9fd7ecd"}]}}'
  recorded_at: Thu, 31 Mar 2016 13:49:50 GMT
recorded_with: VCR 3.0.1
