---
http_interactions:
- request:
    method: get
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/queries/attributes?attrs%5B%5D=emails&user=dz4X0EvprPJO6fGysT8X
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Digest realm="Zazo DataProvider", qop="auth", algorithm=MD5, nonce="MTQ1OTQzNzM4MjpmMjIwODkzMGY3YTQ3ODJkNGJmYTAzMmJkNzE1NzM0MQ==",
        opaque="822778b6350cbc116426dfdce7488072"
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"unauthorized"}'
  recorded_at: Thu, 31 Mar 2016 15:16:22 GMT
- request:
    method: get
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/queries/attributes?attrs%5B%5D=emails&user=dz4X0EvprPJO6fGysT8X
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Digest username="friendfinder", realm="Zazo DataProvider", algorithm=MD5,
        qop=auth, uri="/api/v1/fetch/users/queries/attributes?attrs%5B%5D=emails&user=dz4X0EvprPJO6fGysT8X",
        nonce="MTQ1OTQzNzM4MjpmMjIwODkzMGY3YTQ3ODJkNGJmYTAzMmJkNzE1NzM0MQ==", nc=00000000,
        cnonce="27cbbfb15ea35159266ff5a21dfcd125", response="d7e67b76b4d4bc12d4066ec824ef5f22",
        opaque="822778b6350cbc116426dfdce7488072"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Miniprofiler-Ids:
      - '["wlhaheio9r09n1vp2nxu","uxvsln0trb4yaffhvb8d","bb70an5jbfflmfk0m05k","sx40rqr0wj8ad1xghum8","bgrox7u56a6q8qyf9y01","7ggzu9qsfv7n1m25bw7j","rxanujfb24l88lv1ovq","crjjw7yb4a9jn5oblvzp","a3vwha4kzzbsxsvgm4nm","v72b8g5zbgrm2d3h62zw"]'
    body:
      encoding: UTF-8
      string: '{"emails":"incorrect_email"}'
  recorded_at: Thu, 31 Mar 2016 15:16:22 GMT
- request:
    method: get
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/queries/attributes?attrs%5B%5D=first_name&attrs%5B%5D=friends&attrs%5B%5D=last_name&user=dz4X0EvprPJO6fGysT8X
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Digest realm="Zazo DataProvider", qop="auth", algorithm=MD5, nonce="MTQ1OTQzNzM4MjpmMjIwODkzMGY3YTQ3ODJkNGJmYTAzMmJkNzE1NzM0MQ==",
        opaque="822778b6350cbc116426dfdce7488072"
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"unauthorized"}'
  recorded_at: Thu, 31 Mar 2016 15:16:22 GMT
- request:
    method: get
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/queries/attributes?attrs%5B%5D=first_name&attrs%5B%5D=friends&attrs%5B%5D=last_name&user=dz4X0EvprPJO6fGysT8X
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Digest username="friendfinder", realm="Zazo DataProvider", algorithm=MD5,
        qop=auth, uri="/api/v1/fetch/users/queries/attributes?attrs%5B%5D=first_name&attrs%5B%5D=last_name&attrs%5B%5D=friends&user=dz4X0EvprPJO6fGysT8X",
        nonce="MTQ1OTQzNzM4MjpmMjIwODkzMGY3YTQ3ODJkNGJmYTAzMmJkNzE1NzM0MQ==", nc=00000000,
        cnonce="a934701b9fe5e9d78f24153ca780ca23", response="d63ed36888db52f53b544155e3be2585",
        opaque="822778b6350cbc116426dfdce7488072"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Miniprofiler-Ids:
      - '["va9mjasch9nec16avv1h","uxvsln0trb4yaffhvb8d","bb70an5jbfflmfk0m05k","sx40rqr0wj8ad1xghum8","bgrox7u56a6q8qyf9y01","7ggzu9qsfv7n1m25bw7j","rxanujfb24l88lv1ovq","crjjw7yb4a9jn5oblvzp","a3vwha4kzzbsxsvgm4nm","v72b8g5zbgrm2d3h62zw"]'
    body:
      encoding: UTF-8
      string: '{"first_name":"Alex","last_name":"Android","friends":["7qdanSEmctZ2jPnYA0a1","8TTXNCMhGT4kOt9b4O2M","0DAQEVtmNKQiW6aoQrvo","mAs9QqJQvCMaICSPNpZP","fxVPRkGICwnrAwym52gK","hZb26lMVPAsWcfHnqjva","v4ptwhOdy1HlKcwMGfaF","epOt7F15KKUxuq6plPo4"]}'
  recorded_at: Thu, 31 Mar 2016 15:16:24 GMT
- request:
    method: post
    uri: http://zazo-notification.dev/api/v1/notifications/email
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Digest realm="Zazo Notification", qop="auth", algorithm=MD5, nonce="MTQ1OTQzNzM4NzphNWU4ZmRhMDBjZmIyNjNmM2NlZjg1NGM2MDk5ZDYwMQ==",
        opaque="1bada4e4faf11d9675b0e01e3ee23df0"
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"unauthorized"}'
  recorded_at: Thu, 31 Mar 2016 15:16:27 GMT
- request:
    method: post
    uri: http://zazo-notification.dev/api/v1/notifications/email
    body:
      encoding: UTF-8
      string: '{"to":"i","subject":"Manuela Jones joined Zazo!","body":"<!DOCTYPE
        html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\"><html
        xmlns=\"http://www.w3.org/1999/xhtml\" lang=\"en\" xml:lang=\"en\" style=\"background:#f9f9f9;min-height:100%\"><head><meta
        http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\"><meta name=\"viewport\"
        content=\"width=device-width\"></head><body style=\"-moz-box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-webkit-text-size-adjust:100%;box-sizing:border-box;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:19px;margin:0;min-width:100%;padding:0;text-align:left;width:100%!important\"><style>@media
        only screen and (max-width:596px){.hide-for-large{display:block}}@media only
        screen and (max-width:596px){.show-for-large{display:none;width:0;mso-hide:all;overflow:hidden}}@media
        only screen and (max-width:596px){table.body img{width:auto!important;height:auto!important}table.body
        center{min-width:0!important}table.body .container{width:95%!important}table.body
        .column,table.body .columns{height:auto!important;-moz-box-sizing:border-box;-webkit-box[...]
