---
http_interactions:
- request:
    method: get
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/queries/attributes?attrs%5B%5D=first_name&attrs%5B%5D=friends&attrs%5B%5D=id&attrs%5B%5D=last_name&user=GBAHb0482YxlJ0kYwbIS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Digest realm="Zazo DataProvider", qop="auth", algorithm=MD5, nonce="MTQ1OTQzMDcwODpkZDA0NzNiNDhiNzc3ZTYyNzEzZWNlMjI1NjE2NDFiOQ==",
        opaque="822778b6350cbc116426dfdce7488072"
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"unauthorized"}'
  recorded_at: Thu, 31 Mar 2016 13:25:08 GMT
- request:
    method: get
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/queries/attributes?attrs%5B%5D=first_name&attrs%5B%5D=friends&attrs%5B%5D=id&attrs%5B%5D=last_name&user=GBAHb0482YxlJ0kYwbIS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Digest username="friendfinder", realm="Zazo DataProvider", algorithm=MD5,
        qop=auth, uri="/api/v1/fetch/users/queries/attributes?attrs%5B%5D=id&attrs%5B%5D=first_name&attrs%5B%5D=last_name&attrs%5B%5D=friends&user=GBAHb0482YxlJ0kYwbIS",
        nonce="MTQ1OTQzMDcwODpkZDA0NzNiNDhiNzc3ZTYyNzEzZWNlMjI1NjE2NDFiOQ==", nc=00000000,
        cnonce="d05c5ab4b9b45cfeb6ecb0f2eaf6ffe6", response="3abf5f69ec032dc330ef113e0038a95c",
        opaque="822778b6350cbc116426dfdce7488072"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Miniprofiler-Ids:
      - '["i257f527hzqrttwod640","uxvsln0trb4yaffhvb8d","bb70an5jbfflmfk0m05k","sx40rqr0wj8ad1xghum8","bgrox7u56a6q8qyf9y01","7ggzu9qsfv7n1m25bw7j","rxanujfb24l88lv1ovq","crjjw7yb4a9jn5oblvzp","a3vwha4kzzbsxsvgm4nm","v72b8g5zbgrm2d3h62zw"]'
    body:
      encoding: UTF-8
      string: '{"id":3686,"first_name":"Ivan","last_name":"Kornilov","friends":["0DAQEVtmNKQiW6aoQrvo","e0kvxfgua1EQJvUOzVC1","yLK6i5VpMW9ZZy5BnXZZ","7qdanSEmctZ2jPnYA0a1","gpIES8adSGtrB5O5933c","LVXE6gyoxb6eHNvPd96f"]}'
  recorded_at: Thu, 31 Mar 2016 13:25:09 GMT
recorded_with: VCR 3.0.1
