---
http_interactions:
- request:
    method: get
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/queries/attributes?attrs%5B%5D=auth&attrs%5B%5D=first_name&attrs%5B%5D=friends&attrs%5B%5D=last_name&user=GBAHb0482YxlJ0kYwbIS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Digest realm="Zazo DataProvider", qop="auth", algorithm=MD5, nonce="MTQ2MTYwNjE5NzpjNGIxMTVjYTMwNDAyYTBlOWE5NDYxMzllM2ViMDc5ZA==",
        opaque="822778b6350cbc116426dfdce7488072"
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"unauthorized"}'
  recorded_at: Mon, 25 Apr 2016 17:43:17 GMT
- request:
    method: get
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/queries/attributes?attrs%5B%5D=auth&attrs%5B%5D=first_name&attrs%5B%5D=friends&attrs%5B%5D=last_name&user=GBAHb0482YxlJ0kYwbIS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Digest username="friendfinder", realm="Zazo DataProvider", algorithm=MD5,
        qop=auth, uri="/api/v1/fetch/users/queries/attributes?attrs%5B%5D=auth&attrs%5B%5D=first_name&attrs%5B%5D=last_name&attrs%5B%5D=friends&user=GBAHb0482YxlJ0kYwbIS",
        nonce="MTQ2MTYwNjE5NzpjNGIxMTVjYTMwNDAyYTBlOWE5NDYxMzllM2ViMDc5ZA==", nc=00000000,
        cnonce="3c077c8a36b6660446731a18abaad515", response="83feb38036d82a291ccc193f2c96051e",
        opaque="822778b6350cbc116426dfdce7488072"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Miniprofiler-Ids:
      - '["aspwqmo3eqrc8g3hnyxg","uxvsln0trb4yaffhvb8d","bb70an5jbfflmfk0m05k","sx40rqr0wj8ad1xghum8","bgrox7u56a6q8qyf9y01","7ggzu9qsfv7n1m25bw7j","rxanujfb24l88lv1ovq","crjjw7yb4a9jn5oblvzp","a3vwha4kzzbsxsvgm4nm","v72b8g5zbgrm2d3h62zw"]'
    body:
      encoding: UTF-8
      string: '{"auth":"O4VXCozKuyQNjnWPh400","first_name":"Ivan","last_name":"Kornilov","friends":["0DAQEVtmNKQiW6aoQrvo","e0kvxfgua1EQJvUOzVC1","yLK6i5VpMW9ZZy5BnXZZ","7qdanSEmctZ2jPnYA0a1","gpIES8adSGtrB5O5933c","LVXE6gyoxb6eHNvPd96f"]}'
  recorded_at: Mon, 25 Apr 2016 17:43:18 GMT
- request:
    method: get
    uri: http://tbm-server.dev/invitation/invite?first_name=David&last_name=Miller&mobile_number=%2B16502453537
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Digest realm="zazo.com", qop="auth", algorithm=MD5, nonce="MTQ2MTYwNjE5ODoyNDliNWZkZDk3ZGUwODU2MzNkNzFlNGRjYzJhZTQ2ZQ==",
        opaque="8fd97d4fee54b9b56345b2bcf8d4a3ed"
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        HTTP Digest: Access denied.
  recorded_at: Mon, 25 Apr 2016 17:43:18 GMT
- request:
    method: get
    uri: http://tbm-server.dev/invitation/invite?first_name=David&last_name=Miller&mobile_number=%2B16502453537
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Digest username="GBAHb0482YxlJ0kYwbIS", realm="zazo.com", algorithm=MD5, qop=auth,
        uri="/invitation/invite?&first_name=David&last_name=Miller&mobile_number=%2B16502453537",
        nonce="MTQ2MTYwNjE5ODoyNDliNWZkZDk3ZGUwODU2MzNkNzFlNGRjYzJhZTQ2ZQ==", nc=00000000,
        cnonce="b8bd5c490c2aeaa4ac599993ba5eefdd", response="5af426588e487a7f7b136d92ef54c224",
        opaque="8fd97d4fee54b9b56345b2bcf8d4a3ed"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ef37b4768f1ff544379d738c5a27b3e2"
    body:
      encoding: UTF-8
      string: '{"id":"20","mkey":"SvFhibPZhIFUJsB2iYl8","first_name":"Charley","last_name":"Bashirian","mobile_number":"+16502453537","device_platform":null,"emails":[],"has_app":"false","ckey":"2_20_0mkxC2UShfdX2RuA5ly4","cid":"19","connection_created_on":"2016-04-25T17:36:13Z","connection_creator_mkey":"GBAHb0482YxlJ0kYwbIS","connection_status":"established"}'
  recorded_at: Mon, 25 Apr 2016 17:43:18 GMT
recorded_with: VCR 3.0.1
