---
http_interactions:
- request:
    method: get
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/queries/push_user?user_mkey=xxxxxxxxxxxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Digest realm="Zazo DataProvider", qop="auth", algorithm=MD5, nonce="MTQ1OTQzMTE0MDo2Y2I0ZWNmM2ZmYmU5NWFmMTVkMmQ5NGM0NmQ3N2QxYQ==",
        opaque="822778b6350cbc116426dfdce7488072"
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"unauthorized"}'
  recorded_at: Thu, 31 Mar 2016 13:32:20 GMT
- request:
    method: get
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/queries/push_user?user_mkey=xxxxxxxxxxxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Digest username="friendfinder", realm="Zazo DataProvider", algorithm=MD5,
        qop=auth, uri="/api/v1/fetch/users/queries/push_user?user_mkey=xxxxxxxxxxxx",
        nonce="MTQ1OTQzMTE0MDo2Y2I0ZWNmM2ZmYmU5NWFmMTVkMmQ5NGM0NmQ3N2QxYQ==", nc=00000000,
        cnonce="2deb0747f1ded00fb21414492e3a5b51", response="aa9a467dc5d464018f4e274da9aa93d3",
        opaque="822778b6350cbc116426dfdce7488072"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":{"push_user":["user mkey is not correct"]}}'
  recorded_at: Thu, 31 Mar 2016 13:32:21 GMT
- request:
    method: get
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/queries/attributes?attrs%5B%5D=first_name&attrs%5B%5D=friends&attrs%5B%5D=last_name&user=xxxxxxxxxxxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Digest realm="Zazo DataProvider", qop="auth", algorithm=MD5, nonce="MTQ1OTQzMTE0MTo5OWFjZGM1YzFkNzEwOTI2NjczNmQxZjg0MWZjMTRmNA==",
        opaque="822778b6350cbc116426dfdce7488072"
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"unauthorized"}'
  recorded_at: Thu, 31 Mar 2016 13:32:21 GMT
- request:
    method: get
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/queries/attributes?attrs%5B%5D=first_name&attrs%5B%5D=friends&attrs%5B%5D=last_name&user=xxxxxxxxxxxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Digest username="friendfinder", realm="Zazo DataProvider", algorithm=MD5,
        qop=auth, uri="/api/v1/fetch/users/queries/attributes?attrs%5B%5D=first_name&attrs%5B%5D=last_name&attrs%5B%5D=friends&user=xxxxxxxxxxxx",
        nonce="MTQ1OTQzMTE0MTo5OWFjZGM1YzFkNzEwOTI2NjczNmQxZjg0MWZjMTRmNA==", nc=00000000,
        cnonce="aeab77b77beb7e2372bf39e09b9077b0", response="f0f5e9d269c66ca3d292ebd1fbfddf73",
        opaque="822778b6350cbc116426dfdce7488072"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":{"user":["can''t be blank"]}}'
  recorded_at: Thu, 31 Mar 2016 13:32:21 GMT
recorded_with: VCR 3.0.1
