db_name: zazo_friendfinder
db_username: postgres
db_password:
db_host: localhost
db_port: '5432'

dataprovider_api_base_url:
dataprovider_api_token:

notification_api_base_url:
notification_api_token:

renotification_base_url:

rollbar_access_token:
newrelic_license_key:
newrelic_api_key:

papertrail_host:
papertrail_port:

redis_host: redis://localhost
redis_post: '6379'

http_basic_name:
http_basic_password:

test:
  db_name:

production:
  secret_key_base:
  db_name
  db_host:
  db_username:
  db_password:
