---
http_interactions:
- request:
    method: get
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/queries/attributes?attrs%5B%5D=auth&attrs%5B%5D=mkey&user=GBAHb0482YxlJ0kYwbIS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Digest realm="Zazo DataProvider", qop="auth", algorithm=MD5, nonce="MTQ2MTY2ODUzNzpjMDZlOGIwZmI1OTNmMDhmYmJiMzkzM2U0ZDg0YmU5ZA==",
        opaque="822778b6350cbc116426dfdce7488072"
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"unauthorized"}'
  recorded_at: Tue, 26 Apr 2016 11:02:17 GMT
- request:
    method: get
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/queries/attributes?attrs%5B%5D=auth&attrs%5B%5D=mkey&user=GBAHb0482YxlJ0kYwbIS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Digest username="friendfinder", realm="Zazo DataProvider", algorithm=MD5,
        qop=auth, uri="/api/v1/fetch/users/queries/attributes?attrs%5B%5D=mkey&attrs%5B%5D=auth&user=GBAHb0482YxlJ0kYwbIS",
        nonce="MTQ2MTY2ODUzNzpjMDZlOGIwZmI1OTNmMDhmYmJiMzkzM2U0ZDg0YmU5ZA==", nc=00000000,
        cnonce="e93d472bb35950f4e530ed04ab8f71f2", response="50e08261a7cb2336e78d6efeb94da815",
        opaque="822778b6350cbc116426dfdce7488072"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Miniprofiler-Ids:
      - '["akj4qaq451ebop0tj1mz","uxvsln0trb4yaffhvb8d","bb70an5jbfflmfk0m05k","sx40rqr0wj8ad1xghum8","bgrox7u56a6q8qyf9y01","7ggzu9qsfv7n1m25bw7j","rxanujfb24l88lv1ovq","crjjw7yb4a9jn5oblvzp","a3vwha4kzzbsxsvgm4nm","v72b8g5zbgrm2d3h62zw"]'
    body:
      encoding: UTF-8
      string: '{"mkey":"GBAHb0482YxlJ0kYwbIS","auth":"O4VXCozKuyQNjnWPh400"}'
  recorded_at: Tue, 26 Apr 2016 11:02:17 GMT
- request:
    method: get
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/queries/attributes?attrs%5B%5D=auth&attrs%5B%5D=first_name&attrs%5B%5D=friends&attrs%5B%5D=last_name&user=GBAHb0482YxlJ0kYwbIS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Digest realm="Zazo DataProvider", qop="auth", algorithm=MD5, nonce="MTQ2MTY2ODUzNzpjMDZlOGIwZmI1OTNmMDhmYmJiMzkzM2U0ZDg0YmU5ZA==",
        opaque="822778b6350cbc116426dfdce7488072"
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"unauthorized"}'
  recorded_at: Tue, 26 Apr 2016 11:02:17 GMT
- request:
    method: get
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/queries/attributes?attrs%5B%5D=auth&attrs%5B%5D=first_name&attrs%5B%5D=friends&attrs%5B%5D=last_name&user=GBAHb0482YxlJ0kYwbIS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Digest username="friendfinder", realm="Zazo DataProvider", algorithm=MD5,
        qop=auth, uri="/api/v1/fetch/users/queries/attributes?attrs%5B%5D=auth&attrs%5B%5D=first_name&attrs%5B%5D=last_name&attrs%5B%5D=friends&user=GBAHb0482YxlJ0kYwbIS",
        nonce="MTQ2MTY2ODUzNzpjMDZlOGIwZmI1OTNmMDhmYmJiMzkzM2U0ZDg0YmU5ZA==", nc=00000000,
        cnonce="7760529e7dac092d1f0d61b36dcfaf1d", response="6b17fb1b95a7f4a027ba7605635b089f",
        opaque="822778b6350cbc116426dfdce7488072"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Miniprofiler-Ids:
      - '["diqs3rcexib2o85evdfw","uxvsln0trb4yaffhvb8d","bb70an5jbfflmfk0m05k","sx40rqr0wj8ad1xghum8","bgrox7u56a6q8qyf9y01","7ggzu9qsfv7n1m25bw7j","rxanujfb24l88lv1ovq","crjjw7yb4a9jn5oblvzp","a3vwha4kzzbsxsvgm4nm","v72b8g5zbgrm2d3h62zw"]'
    body:
      encoding: UTF-8
      string: '{"auth":"O4VXCozKuyQNjnWPh400","first_name":"Ivan","last_name":"Kornilov","friends":["0DAQEVtmNKQiW6aoQrvo","e0kvxfgua1EQJvUOzVC1","yLK6i5VpMW9ZZy5BnXZZ","7qdanSEmctZ2jPnYA0a1","gpIES8adSGtrB5O5933c","LVXE6gyoxb6eHNvPd96f"]}'
  recorded_at: Tue, 26 Apr 2016 11:02:18 GMT
- request:
    method: get
    uri: http://tbm-server.dev/invitation/invite?first_name=David&last_name=Miller&mobile_number=%2B16502453537
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Digest realm="zazo.com", qop="auth", algorithm=MD5, nonce="MTQ2MTY2ODU0MzpkZmZlZTZjNzBhMTI2N2Q2NzZlYzczNWJmMGQyMWY0NA==",
        opaque="8fd97d4fee54b9b56345b2bcf8d4a3ed"
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        HTTP Digest: Access denied.
  recorded_at: Tue, 26 Apr 2016 11:02:23 GMT
- request:
    method: get
    uri: http://tbm-server.dev/invitation/invite?first_name=David&last_name=Miller&mobile_number=%2B16502453537
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Digest username="GBAHb0482YxlJ0kYwbIS", realm="zazo.com", algorithm=MD5, qop=auth,
        uri="/invitation/invite?&first_name=David&last_name=Miller&mobile_number=%2B16502453537",
        nonce="MTQ2MTY2ODU0MzpkZmZlZTZjNzBhMTI2N2Q2NzZlYzczNWJmMGQyMWY0NA==", nc=00000000,
        cnonce="6f8148a7dea3fb383c6c2790b4b04912", response="a6444eaf67b4c001e58d6fe0d4219c30",
        opaque="8fd97d4fee54b9b56345b2bcf8d4a3ed"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ef37b4768f1ff544379d738c5a27b3e2"
    body:
      encoding: UTF-8
      string: '{"id":"20","mkey":"SvFhibPZhIFUJsB2iYl8","first_name":"Charley","last_name":"Bashirian","mobile_number":"+16502453537","device_platform":null,"emails":[],"has_app":"false","ckey":"2_20_0mkxC2UShfdX2RuA5ly4","cid":"19","connection_created_on":"2016-04-25T17:36:13Z","connection_creator_mkey":"GBAHb0482YxlJ0kYwbIS","connection_status":"established"}'
  recorded_at: Tue, 26 Apr 2016 11:02:23 GMT
recorded_with: VCR 3.0.1
