.ff-contacts {
  font-family: Roboto, Arial, serif;

  h2.title {
    font-size: 20px;
    color: #969696;
    font-weight: normal;
    margin: 28px 0 24px 0;
  }

  .contact-wrapper {
    margin-bottom: 30px;

    .contact {
      text-align: center;
      border: 2px solid;
      border-color: #d9d9d9;
      border-top-color: #ebebeb;
      border-radius: 4px;
      -webkit-box-shadow: 0 5px 6px -3px rgba(163, 163, 163, 1);
      -moz-box-shadow: 0 5px 6px -3px rgba(163, 163, 163, 1);
      box-shadow: 0 5px 6px -3px rgba(163, 163, 163, 1);

      .info-block {
        height: 205px;
        padding-top: 40px;

        .name {
          font-size: 20px;
          color: #212121;
          margin-right: 5px;
        }

        .subtitle {
          font-size: 15px;
          color: #757575;
        }

        .icon {
          position: relative;
          margin-bottom: 18px;

          .initials {
            position: absolute;
            color: white;
            font-size: 38px;
            top: 19px;
            width: 100%;
          }
        }
      }
    }

    .action-link {
      width: 50%;
      display: inline-block;
      color: white;
      font-size: 16px;
      padding: 12px 0;
      margin-bottom: -2px;
      border-radius: 1px 1px 4px 4px;

      &:hover, &:focus {
        text-decoration: none;
      }
    }

    .add-link {
      background: #1976d2;
      border-bottom-right-radius: 1px;
      &:hover {
        background: #0d47a1;
      }
    }

    .remove-link {
      background: #989898;
      border-bottom-left-radius: 1px;

      &:hover {
        background: #606060;
      }
    }
  }
}
