.ff-navbar-wrapper
  font-family: Roboto, Arial, serif
  background-color: #0d47a1
  padding: 26px 0

  .ff-navbar
    margin: 0
    padding-left: 142px
    height: 24px
    background: asset-url('web_client/zazo.png') no-repeat

    .app-user
      float: right
      line-height: 24px

      .name
        font-size: 20px
        color: white
