---
http_interactions:
- request:
    method: get
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/queries/attributes?attrs%5B%5D=emails&user=GBAHb0482YxlJ0kYwbIS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Digest realm="Zazo DataProvider", qop="auth", algorithm=MD5, nonce="MTQ1OTQyOTQ5NjpmNjc4YzQzZTdjNzlmM2VkNThhN2Y0ZmUwMTI4ZTZkOQ==",
        opaque="822778b6350cbc116426dfdce7488072"
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"unauthorized"}'
  recorded_at: Thu, 31 Mar 2016 13:04:56 GMT
- request:
    method: get
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/queries/attributes?attrs%5B%5D=emails&user=GBAHb0482YxlJ0kYwbIS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Digest username="friendfinder", realm="Zazo DataProvider", algorithm=MD5,
        qop=auth, uri="/api/v1/fetch/users/queries/attributes?attrs%5B%5D=emails&user=GBAHb0482YxlJ0kYwbIS",
        nonce="MTQ1OTQyOTQ5NjpmNjc4YzQzZTdjNzlmM2VkNThhN2Y0ZmUwMTI4ZTZkOQ==", nc=00000000,
        cnonce="ba84ecaa84b4ee0bff26911d15a3d7dd", response="1a9fa367a9a7ce9895a5a0fbd4f7c26f",
        opaque="822778b6350cbc116426dfdce7488072"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Miniprofiler-Ids:
      - '["csxla9pr0mi7xosg7dyq","uxvsln0trb4yaffhvb8d","bb70an5jbfflmfk0m05k","sx40rqr0wj8ad1xghum8","bgrox7u56a6q8qyf9y01","7ggzu9qsfv7n1m25bw7j","rxanujfb24l88lv1ovq","crjjw7yb4a9jn5oblvzp","a3vwha4kzzbsxsvgm4nm","v72b8g5zbgrm2d3h62zw"]'
    body:
      encoding: UTF-8
      string: '{"emails":["vano468@gmail.com"]}'
  recorded_at: Thu, 31 Mar 2016 13:04:56 GMT
- request:
    method: get
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/queries/attributes?attrs%5B%5D=first_name&attrs%5B%5D=friends&attrs%5B%5D=last_name&user=GBAHb0482YxlJ0kYwbIS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Digest realm="Zazo DataProvider", qop="auth", algorithm=MD5, nonce="MTQ1OTQyOTQ5Nzo1YjAxMWM2OTNkZmQ4NDY2NzUxNjZlY2RiZjk0ZTIzMA==",
        opaque="822778b6350cbc116426dfdce7488072"
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"unauthorized"}'
  recorded_at: Thu, 31 Mar 2016 13:04:57 GMT
- request:
    method: get
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/queries/attributes?attrs%5B%5D=first_name&attrs%5B%5D=friends&attrs%5B%5D=last_name&user=GBAHb0482YxlJ0kYwbIS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Digest username="friendfinder", realm="Zazo DataProvider", algorithm=MD5,
        qop=auth, uri="/api/v1/fetch/users/queries/attributes?attrs%5B%5D=first_name&attrs%5B%5D=last_name&attrs%5B%5D=friends&user=GBAHb0482YxlJ0kYwbIS",
        nonce="MTQ1OTQyOTQ5Nzo1YjAxMWM2OTNkZmQ4NDY2NzUxNjZlY2RiZjk0ZTIzMA==", nc=00000000,
        cnonce="75b7bd77c606026c3d1ee321c8fc947f", response="75dbbb40e4b298916d0dec0e8d684f7e",
        opaque="822778b6350cbc116426dfdce7488072"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Miniprofiler-Ids:
      - '["cv7djfc439xorxvwltcy","uxvsln0trb4yaffhvb8d","bb70an5jbfflmfk0m05k","sx40rqr0wj8ad1xghum8","bgrox7u56a6q8qyf9y01","7ggzu9qsfv7n1m25bw7j","rxanujfb24l88lv1ovq","crjjw7yb4a9jn5oblvzp","a3vwha4kzzbsxsvgm4nm","v72b8g5zbgrm2d3h62zw"]'
    body:
      encoding: UTF-8
      string: '{"first_name":"Ivan","last_name":"Kornilov","friends":["0DAQEVtmNKQiW6aoQrvo","e0kvxfgua1EQJvUOzVC1","yLK6i5VpMW9ZZy5BnXZZ","7qdanSEmctZ2jPnYA0a1","gpIES8adSGtrB5O5933c","LVXE6gyoxb6eHNvPd96f"]}'
  recorded_at: Thu, 31 Mar 2016 13:04:58 GMT
[...]
- request:
    method: get
    uri: http://zazo-dataprovider.dev/api/v1/fetch/users/queries/attributes?attrs%5B%5D=first_name&attrs%5B%5D=friends&attrs%5B%5D=last_name&user=GBAHb0482YxlJ0kYwbIS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Digest username="friendfinder", realm="Zazo DataProvider", algorithm=MD5,
        qop=auth, uri="/api/v1/fetch/users/queries/attributes?attrs%5B%5D=first_name&attrs%5B%5D=last_name&attrs%5B%5D=friends&user=GBAHb0482YxlJ0kYwbIS",
        nonce="MTQ1OTQyOTQ5ODoyMGQ5MjdlNmRlMmJmZThkZWZiN2VmOTJjOTZhOGM5Yg==", nc=00000000,
        cnonce="eb44424b78aacefece12dd7647fd1e9c", response="6c5db2efb4dc8c05d648f969554f6dbe",
        opaque="822778b6350cbc116426dfdce7488072"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Miniprofiler-Ids:
      - '["eevz7rzoox7lbwfvzqbb","uxvsln0trb4yaffhvb8d","bb70an5jbfflmfk0m05k","sx40rqr0wj8ad1xghum8","bgrox7u56a6q8qyf9y01","7ggzu9qsfv7n1m25bw7j","rxanujfb24l88lv1ovq","crjjw7yb4a9jn5oblvzp","a3vwha4kzzbsxsvgm4nm","v72b8g5zbgrm2d3h62zw"]'
    body:
      encoding: UTF-8
      string: '{"first_name":"Ivan","last_name":"Kornilov","friends":["0DAQEVtmNKQiW6aoQrvo","e0kvxfgua1EQJvUOzVC1","yLK6i5VpMW9ZZy5BnXZZ","7qdanSEmctZ2jPnYA0a1","gpIES8adSGtrB5O5933c","LVXE6gyoxb6eHNvPd96f"]}'
  recorded_at: Thu, 31 Mar 2016 13:04:59 GMT
recorded_with: VCR 3.0.1
