---
http_interactions:
- request:
    method: get
    uri: <%= dataprovider_api_base_url %>/api/v1/fetch/users/queries/push_user?user_mkey=7qdanSEmctZ2jPnYA0a1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Digest realm="Zazo DataProvider", qop="auth", algorithm=MD5, nonce="MTQ1NjkxMDI1Njo1ZWZlMDRlMzYzOTdkMDViNjU5NzViZTU3OTZhY2IwZQ==",
        opaque="822778b6350cbc116426dfdce7488072"
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"unauthorized"}'
  recorded_at: Wed, 02 Mar 2016 09:17:36 GMT
- request:
    method: get
    uri: <%= dataprovider_api_base_url %>/api/v1/fetch/users/queries/push_user?user_mkey=7qdanSEmctZ2jPnYA0a1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Digest username="friendfinder", realm="Zazo DataProvider", algorithm=MD5,
        qop=auth, uri="/api/v1/fetch/users/queries/push_user?user_mkey=7qdanSEmctZ2jPnYA0a1",
        nonce="MTQ1NjkxMDI1Njo1ZWZlMDRlMzYzOTdkMDViNjU5NzViZTU3OTZhY2IwZQ==", nc=00000000,
        cnonce="41d6d66fd3d3acf02939e3fdaa46d613", response="c29516b4343d75bc600939aca0207280",
        opaque="822778b6350cbc116426dfdce7488072"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Miniprofiler-Ids:
      - '["on0591e8xipaswrzb6k1","uxvsln0trb4yaffhvb8d","bb70an5jbfflmfk0m05k","sx40rqr0wj8ad1xghum8","bgrox7u56a6q8qyf9y01","7ggzu9qsfv7n1m25bw7j","rxanujfb24l88lv1ovq","crjjw7yb4a9jn5oblvzp","a3vwha4kzzbsxsvgm4nm","v72b8g5zbgrm2d3h62zw"]'
    body:
      encoding: UTF-8
      string: '{"mkey":"7qdanSEmctZ2jPnYA0a1","push_token":"APA91bH8Xy20cWQaP0kbEnps63ziDqwKjEC9GNn-BUsQ7avs8OkMATHSskfZbvLJe02qf9N_qsmxsqgqEaPVdL5iPGOhAhhtLZqo_njxViZUBThdD2ISAiaYfvAJ14ow6_mcydaj_Ubr","device_platform":"ios","device_build":"prod"}'
  recorded_at: Wed, 02 Mar 2016 09:17:37 GMT
- request:
    method: get
    uri: http://zazo-statistics.dev/api/v1/fetch/push_user?mkey=7qdanSEmctZ2jPnYA0a1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Miniprofiler-Ids:
      - '["n9hlldibz01s67mtes07","gqc21itc9tfqgcmwp4sn","nlc4ozn47rfilcx96l0","sj0al9u4nzvgazaqrpce","2qb0fngonmevjy9j5zmc","b6ehyqah77zl2nzge6r9","r8y3uwsrhjqj33ub2xad","gg83o03mzr7fpy65bqf3","x6jo3py0uk18wdqb81s8","1b2ssm08vdk1uuv63t43"]'
    body:
      encoding: UTF-8
      string: '{"mkey":"7qdanSEmctZ2jPnYA0a1","push_token":"APA91bH8Xy20cWQaP0kbEnps63ziDqwKjEC9GNn-BUsQ7avs8OkMATHSskfZbvLJe02qf9N_qsmxsqgqEaPVdL5iPGOhAhhtLZqo_njxViZUBThdD2ISAiaYfvAJ14ow6_mcydaj_Ubr","device_platform":"ios","device_build":"prod"}'
  recorded_at: Wed, 02 Mar 2016 09:17:45 GMT
recorded_with: VCR 2.9.3
